engine-strict=true

# archivo agregado, ni idea q es
# segun chatgpt:Cuando engine-strict está configurado en true, npm se asegurará de que la versión de Node.js y npm utilizada en el proyecto coincida exactamente con las versiones especificadas en la sección engines del archivo package.json. Si hay alguna discrepancia, npm mostrará un mensaje de advertencia o error.